.areaLogada-container {
    width: 100%;
    height: 100vh;
    background-color: #F7F6FB;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    padding-top: 5%;
}

.areaLogada-main {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 15px;
}

.areaLogada-nav {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10%;
}

.areaLogada-nav h3 {
    color: #919191;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.cart {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 55px;
    height: 31px;
    background-color: #fff;
    border-radius: 10px;
}

.card-content-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5%;
}

.card-content-quantidade2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    column-gap: 5px;
}

.cart img {
    width: 23px;
    height: 23px;
}

.cart p {
    font-size: 14px;
    color: #3A7C22;
}

.areaLogada-dados {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2%;
}

.areaLogada-endereco {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.areaLogada-endereco p {
    font-size: 10px;
    color: #323232;
    font-family: 'Montserrat', sans-serif;
}

.areaLogada-endereco span {
    color: #323232;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.lista-de-produtos {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 5%;
    max-height: 500px; /* Ajuste a altura máxima conforme necessário */
    overflow-y: auto; 
    margin-bottom: 20%;
}

.areaLogada-endereco h4 {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    background: green;
    color: #fff;
    width: 60px;
    text-align: center;
    border-radius: 10px;
    padding: 2%;
    margin-top: 4%;
}

.dados-compras {
    position: relative;
    top: 2%;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    z-index: 3; 
}

.prod-cadastrados {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 120%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F7F6FB;
    border: 1px solid #323232;
    border-radius: 12px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.prod-cadastrados h1 {
    font-size: 35px;
    color: #3A7C22;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.prod-cadastrados p {
    font-size: 12px;
    color: #919191;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.reais-economizados {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 120%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F7F6FB;
    border: 1px solid #323232;
    border-radius: 12px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.reais-economizados h1 {
    font-size: 35px;
    color: #3A7C22;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.reais-economizados p {
    font-size: 20px;
    color: #919191;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.container-meus-produtos {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow-y: auto;
    background-color: #E5E5E5;
    z-index: 2; 
    padding: 10% 5% 10% 5%;
}

.meus-produtos-bar {
    width: 100%;
    display: flex;
}

.meus-produtos-btn {
    width: 150px;
    height: 27px;
    background-color: #FF6000;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.dados-compras {
    position: relative;
    top: 2%;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    z-index: 3; 
}

.lixo {
    width: 15px;
    height: 15px;
}

.consultar-preco-btn {
    width: 100%;
    height: 80px;
    background-color: rgba(145, 145, 145, 0.7);
    border: none;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    position: absolute;
    z-index: 2;
    bottom: 0; 
}

/*Não retirar os !important. Sobreposição à folha de estilo da lib*/
.slide-but {
    background-color: #fff !important;
  }
  

