.card {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 95%;
    background-color: #fff;
    border-radius: 22px;
  }
  
  .card-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 22px;
  }

  .card-mercado-text {
    display: flex;
    flex-direction: column;
    padding-inline: 3%;
  }
  
  .card-title {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }

  .card-mercado-text p {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #3A7C22;
  }
  
  .arrow {
    font-size: 20px;
  }
  
  .arrow-up {
    transform: rotate(90deg);
  }
  
  .card-content {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 3%;
  }

  .card-content-titulo {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  .card-content-titulo img {
    width: 22px;
    height: 22px;
  }

  .produto-nome {
    display: flex;
    flex-direction: column;
  }

  .produto-nome-h3 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #3A7C22;
  }

  .codigo-de-barras {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #646464;
  }

  .card-content-sessao1 {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  .card-content-checkbox {
    margin-right: 10px;
    position: relative; /* Posição relativa para alinhar o label */
}

.card-content input[type="checkbox"] {
    display: none; /* Oculta o input original */
}

.card-content label {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
    cursor: pointer;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #fff; /* Cor de fundo padrão */
}

.card-content input[type="checkbox"]:checked + label {
    background-color: green; /* Cor de fundo quando o checkbox está marcado */
    color: #fff;
    border-radius: 50px;
}   

  .card-content-quantidade {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    column-gap: 5px;
  }

  .card-content-quantidade-h3 {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #646464;
  }

  .card-content-valor {
    padding: 2px;
    text-align: center;
    height: 25px;
    width: 90px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #3A7C22;
    border: 1px solid #3A7C22;
    border-radius: 10px;
  }

  