.tela-inicial-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.tela-inicial-main {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.savvy-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tela-inicial-container h1 {
    font-size: 40px;
    font-weight: 700;
    color: #3A7C22;
    font-family: 'Montserrat Alternates', sans-serif;
}

.savvy-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.conheca-missao {
    font-size: 16px;
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 8px; /* Adicione margem inferior para separação */
}

.compras-inteligentes {
    font-size: 20px;
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 0; /* Remova margem superior padrão */
}

.voce-so-precisa {
    font-size: 18px;
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.container-precisa {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.cadastro-cep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadastro-cep img {
    width: 32px;
    height: 32px;
}

.cadastro-cep p {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: gray;
}

.container-entregamos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.entregamos-h3 {
    font-size: 18px;
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.btn-cadastro {
    width: 90%;
    height: 48px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinha conteúdo à esquerda */
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 20%;
    padding-left: 2px; /* Ajusta o espaçamento à esquerda para o texto */
    position: relative;
    cursor: pointer; /* Cursor de ponteiro para indicar interatividade */
}

.btn-cadastro:hover {
    background-color: #B3B3B3; /* Cor do botão ao passar o mouse */
}

.slide-but {
  border: 2px solid #444;
  width: 80% !important;
  height: 40px !important;
  border: none !important;
  border-radius: 50px;
  margin-top: 15%;
  padding: 9px !important;
  position: relative;
  overflow: hidden;
  background-color: #D9D9D9 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  user-select: none;
  /* box-sizing: border-box; */
}

.slide-but .slide-overlay {
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 2rem;
  background: #444;
  transition: width 0.2s ease-out;
  will-change: width;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-but .slide-overlay .slide-caret-wrapper {
  position: absolute;
  max-width: 45px;
  min-width: 0;
  right: 0;
  top: 50%;
  height: 100%;
  transform: translateY(-50%);
  background: #3A7C22 !important;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
}

.slide-but .slide-overlay .slide-overlay-txt {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background-color: #3A7C22 !important;
}
