* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
  
html, body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar-thumb {
    background: #A2A2A2;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: #fff;
    transition: 0.3s;
}

.main-container {
    background-color: #F2F3F7;
}

.barra {
    display: none;
}

.tela-inicial-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.tela-inicial-main {
        width: 85%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 6%;
}

.savvy-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.savvy-logo img {
    width: 80%;
}

.tela-inicial-container h1 {
    font-size: 40px;
    font-weight: 700;
    color: #3A7C22;
    font-family: 'Montserrat Alternates', sans-serif;
}

.savvy-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: auto;
}

.conheca-missao {
    font-size: 20px;
    font-style: italic;
    color: #000;
    font-weight: bold;
    margin-bottom: 4px; 
}

.voce-so-precisa {
    font-size: 18px;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

.container-precisa {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 110%;
    height: auto;
    column-gap: 25px;
}

.container-precisa p {
    font-weight: bold;
}

.cadastro-cep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    text-align: center;
}

.cadastro-cep img {
    width: 60px;
    height: 60px;
}

.cadastro-cep p {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    color: #000;
}

.container-entregamos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110%;
    height: auto;
    row-gap: 10px;
}

.entregamos-h3 {
    font-size: 18px;
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.cadastro-cep2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadastro-cep2 h5 {
    font-size: 17px;
}

.cadastro-cep2 img {
    width: 80px;
    height: 80px;
}

.cadastro-cep2 p {
    font-size: 14px;
    width: 70%;
    font-weight: 700;
}


/*Não retirar os !important. Sobreposição à folha de estilo da lib*/
.slide-button {
  width: 80% !important;
  height: 45px !important;
  border: none !important;
  border-radius: 50px;
  margin-top: 0% !important;
  margin-bottom: 15%;
  padding: 0px !important;
  position: relative;
  overflow: hidden;
  background-color: #3A7C22 !important;
  color: #fff;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
}

